.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  padding: $container-padding;

  > * {
    -webkit-app-region: no-drag;
    display: flex;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &__win-buttons > .uibutton {
    margin-left: 5px;
  }

  &__left > * {
    margin-right: 5px;
  }

  &__title-container {
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    -webkit-app-region: drag;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
  }
}